@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar-brand {
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

#has-text-purple {
    color: purple;
}