@import url('https://fonts.googleapis.com/css?family=Poppins');

a {
    text-decoration-color: purple;
    font-family: 'Poppins', sans-serif;
}

#has-text-purple {
    color: purple;
}

footer {
    max-height: 40px;
}